<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='http://datatables.net/release-datatables/media/css/demo_table.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='http://datatables.net/release-datatables/media/js/jquery.js'></script>
    <script type='text/javascript' src='http://datatables.net/release-datatables/media/js/jquery.dataTables.js'></script>
    <script type='text/javascript' src='/javascripts/grid-datatables.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <table id="grid">
        <thead>
            <tr>
            <th>ROW_ID</th>
            <th>File_name</th>
            <th>Location</th>
            <th>Surrent_size</th>
            </tr>
        </thead>
        <tbody>Loading...</tbody>
    </table>
  </body>
</html>
