<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='http://docs.sencha.com/ext-js/4-2/extjs-build/resources/css/ext-all.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='http://docs.sencha.com/ext-js/4-2/extjs-build/ext-all.js'></script>
    <script type='text/javascript' src='/javascripts/grid-extjs.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="grid"></div>
  </body>
</html>
