<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href="/kendo">KendoUI DataGrid</a><p>
    <p><a href="/kendo-scroll">KendoUI DataGrid with virtual scroll</a><p>
    <p><a href="/extjs">ExtJS DataGrid</a><p>
  </body>
</html>
