<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href="/kendo">KendoUI Grid</a><p>
    <p><a href="/kendo-scroll">KendoUI Grid with virtual scroll</a><p>
    <p><a href="/extjs">ExtJS Grid</a><p>
    <p><a href="/datatables">Datatables Grid</a><p>
</body>
</html>
