<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/qui/css/qui-min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/qui/js/qui.js'></script>
    <script type='text/javascript' src='/javascripts/grid.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="grid"></div>
  </body>
</html>
